.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-top: 20px;
  animation: fadeInCards 0.4s ease-out;

 .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  padding: 0.5rem;
  gap: 0.3rem;
  background-color: #2e2e2e67;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  animation: fadeInCards 0.4s ease-out forwards;
  opacity: 0;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(235, 250, 27, 0.2);
  }

  img {
    width: 100%;
    border-radius: 4px;
  }

  p {
    color: #ffcc00;
    font-size: 0.7rem;
    margin-top: 0.3rem;
  }

  small {
    color: #ccc;
    font-size: 0.6rem;
  }

  button.add-to-deck {
    background-color: #ffcc00;
    color: #1e1e1e;
    border: none;
    padding: 0.3rem 0.5rem;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: #ffd633;
    }
  }
}
}
