#cardControls {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  input, select, button {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
  }

  button {
    background-color: #ffcc00;
    color: #1e1e1e;
    cursor: pointer;
  }
}