form {
  margin-bottom: 1rem;

  input, button {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 4px;
  }

  button {
    background-color: #ffcc00;
    color: #1e1e1e;
    cursor: pointer;
  }
}
