body.light {
  background-color: #f9f9f9;
  color: #000;
}

body.light .card,
body.light .card-item,
body.light .modal-inner {
  background-color: #fff;
  color: #000;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.light .card h2,
body.light .card p,
body.light .modal-inner p,
body.light .modal-inner pre {
  color: #222;
}

body.light .card-img,
body.light .modal-inner img {
  box-shadow: none;
}

body.light input,
body.light select,
body.light button {
  background-color: #eee;
  color: #222;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  transition: background 0.3s ease, transform 0.2s ease;
}

body.light button:hover,
body.light select:hover {
  background-color: #ddd;
  transform: scale(1.03);
}

body.light .main-header {
  background-color: #555;
  color: #fff;
  border-bottom: 2px solid #ccc;
}

body.light .main-footer {
  background-color: #555;
  color: #fff;
  border-bottom: 2px solid #ccc;
}

body.light small {
  color: rgb(88, 88, 88) !important;
}

.theme-toggle-fixed {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: transparent;
  color: #ffd94a;
  border: 1px solid #ffd94a;
  padding: 6px 12px;
  font-size: 0.75rem;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1000;
  backdrop-filter: blur(4px);
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;

  &:hover {
    background-color: #ffd94a;
    color: #1a1a1a;
    border-color: #ffd94a;
  }
}

body.light .theme-toggle-fixed {
  color: #222;
  border-color: #222;

  &:hover {
    background-color: #222;
    color: #fff;
  }
}

body.light .user-area {

  color: #222;
  padding: 4px 10px;
  border-radius: 6px;
}

body.light .username {
  color: white;
}

body.light button.logout-btn {
  all: unset;
  font-size: 0.75rem;
  color: #e74c3c;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s ease, text-decoration 0.2s ease;

  &:hover {
    color: #e74c3c;
    text-decoration: none;
  }
}